

.star:hover{
    background-color: gold;
}
.first-btn:hover{
    background-color: chartreuse;
}
.second-btn:hover{
    background-color: darkmagenta;
}
#sat-btn:hover{
    background-color: rgba(0, 255, 255, 0.289);
}
.universe-btn:hover{
    background-color: darkmagenta;
}
.click-me:hover{
    background-color: bisque;
}
.fourth-input:hover{
    background-color: cadetblue;
}
.card:hover{
    background-color: yellow;
}
#MOON:hover{
    background-color: hotpink;
}